[submodule "external/ncurses"]
	path = external/ncurses
	url = https://github.com/mirror/ncurses.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/miniaudio"]
	path = external/miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "external/PDCursesMod"]
	path = external/PDCursesMod
	url = https://github.com/Bill-Gray/PDCursesMod.git
[submodule "external/kissfft"]
	path = external/kissfft
	url = https://github.com/mborgerding/kissfft.git
